body {
  color: hsl(200, 100%, 10%);
  font-family: sans-serif;
}

.blurred {
  filter: blur(3px);
  overflow: hidden;
}

.main-info {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url('/backgrounds/clear-sky.jpg');
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.1rem 0.2rem rgba(253, 251, 251, 0.5);
  font-weight: bold;
  box-shadow: inset 0 0 5rem rgba(253, 251, 251, 0.5);
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: larger;
}

.location {
  font-size: 3rem;
}

.info {
  display: inline-block;
  margin: 5%;
  backdrop-filter: blur(2.5px);
}

.weather-icon-large {
  width: 100px;
  height: 100px;
}

.day-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 75px);
  gap: 0.5rem;
  justify-content: center;
  padding: 1rem;
}
.day-card {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  backdrop-filter: blur(5px);
  align-items: center;
  border: 1px solid hsl(200, 100%, 10%);
  border-radius: 0.25rem;
  padding: 0.25rem;
}
.day-card-day {
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 0.5rem;
}

.hour-row {
  background-color: hsl(200, 50%, 75%);
  font-weight: bold;
}

.hour-row:nth-child(2n) {
  background-color: hsl(200, 50%, 60%);
}

.favorites-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.favorite-item {
  padding: 0.5rem;
  border-bottom: 3px solid black;
  display: flex;
  cursor: pointer;
  margin-bottom: 0.25rem;
}

.favorite-item:hover {
  color: #fff;
  background-color: #6c757d;
}
